/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #333; /* Default text color */
}

/* Header styling */
.header {
    background-color: #FF3737; /* Red background (Valorant logo color) */
    color: #fff; /* White text */
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 2px solid #000; /* Black border */
}

.header .container {
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff; /* White text */
}

.header p {
    font-size: 18px;
    color: #ccc;
}

/* Container styling */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FF3737;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin: 100px auto;
    
}

.agent {
    width: 400px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 100px auto;

    
}

/* Agent image */
.agent img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Agent name */
.agent h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* Agent description */
.agent p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
video{
    width: 1000px;
}